<nb-card>
    <nb-card-header style="display: flex; justify-content: space-between;">
        {{ DATA_LANG?.mdlDeleteAllTitle?.text }}
        <span (click)="fnCloseModal()" nbTooltip="Cerrar">
            <i class="fas fa-times cursor-pointer text-danger"></i>
        </span>
    </nb-card-header>
    <nb-card-body>
        <div class="row ml-0 mr-0">
            <form (ngSubmit)="fnDeleteAllData(deleteAllStateForm)" style="width: 350px;" #deleteAllStateForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                    <p>{{ DATA_LANG?.mdlLblDeleteAll?.text }}</p>
                </div>
                <button 
                    nbButton 
                    fullWidth 
                    type="submit" 
                    [class.btn-pulse]="submitted"
                    status="info">
                    {{ DATA_LANG_GENERAL?.lblButtonDelete?.text }}
                </button>
                &nbsp;&nbsp;&nbsp;
                <button 
                    nbButton 
                    fullWidth
                    status="info" 
                    style="background-color: gray; border-color: gray; color: white;"
                    (click)="fnCancelDeleteAllData()">
                    {{ DATA_LANG_GENERAL?.lblButtonCancel?.text }}
                </button>
            </form> 
        </div>
    </nb-card-body>
</nb-card>