@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
    ::ng-deep nb-card {
        margin: 0 10px !important;
        height: calc(100vh - 3rem) !important;
        max-width: 100%;
        opacity: 1;
    }

    ::ng-deep ngx-historico-paciente {
        overflow-x: hidden !important;
    }

    ::ng-deep .front-container {
        width: 100% !important;
    }

    ::ng-deep a:hover, a:focus {
        color: #01BDFF !important;
    }

    ::ng-deep .nb-theme-default a:hover, .nb-theme-default a:focus {
        color: #01BDFF;
    }

    ::ng-deep nb-card-header {
        display: block !important;
    }

    ::ng-deep nb-card-body {
        /* overflow: hidden !important; */
        box-shadow: none !important;
    }

    ::ng-deep .ngx-pagination > li.current {
        border-radius: 15px;
    }

    ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
        background: #e6e6e6;
        border-radius: 10px;
    }

    ::ng-deep .btn {
        text-transform: none;
    }

    nb-card-body {
        /* overflow: hidden !important; */
        box-shadow: none !important;
    }

    nb-card-header {
        display: block !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .content-pagination {
        display: flex; 
        justify-content: space-around;
    }

    .badge {
        font-size: 85% !important;
    }

    .badge-state-0 {
        background-color: #6c757d !important;
        padding: 4px 10px;
        color: #fff;
    }

    .badge-state-1 {
        background-color: #0d6efd !important;
        padding: 4px 10px;
        color: #fff;
    }
    
    .badge-state-2 {
        background-color: #14342B !important;
        padding: 4px 10px;
        color: #fff;
    }
    
    .badge-state-3 {
        background-color: #820263 !important;
        padding: 4px 10px;
        color: #fff;
    }
    
    .badge-state-4 {
        background-color: #6f42c1 !important;
        padding: 4px 10px;
        color: #fff;
    }
    
    .badge-state-5 {
        background-color: #ff5f5f !important;
        padding: 4px 10px;
        color: #000;
    }
    
    .badge-state-6 {
        background-color: #ffce47 !important;
        padding: 4px 10px;
        color: #000;
    }
    
    .badge-state-7 {
        background-color: #28a745 !important;
        padding: 4px 10px;
        color: #000;
    }

}