<nb-card>
    <nb-card-header style="display: flex; justify-content: space-between;">
        {{ DATA_LANG?.mdlAddTitle?.text }}
        <span (click)="fnCloseModal()" nbTooltip="Cerrar">
            <i class="fas fa-times cursor-pointer text-danger"></i>
        </span>
    </nb-card-header>
    <nb-card-body>
        <div class="row ml-0 mr-0">
            <form (ngSubmit)="fnAddData(addStateForm)" style="width: 350px;" #addStateForm="ngForm" aria-labelledby="title">
              <div class="col-12 pl-0 pr-0">
                <div class="form-group">
                  <label for="input-stateName">{{ DATA_LANG?.mdlLblAddStatusName?.text }}:&nbsp;&nbsp;<span class="text-danger cursor-pointer" nbTooltip="{{ DATA_LANG_GENERAL?.lblObligatoryFieldTooltip?.text }}">*</span></label>                                         
                  <input 
                    nbInput 
                    fullWidth 
                    #stateName="ngModel"
                    [(ngModel)]="state.name"
                    [status]="'info'"
                    [required]="true"
                    name="stateName" 
                    id="input-stateName" 
                    autofocus 
                    type="text"
                    class="form-control"
                    placeholder="{{ DATA_LANG?.phlInputdAddStatus?.text }}"
                    style="height: 50px;">
                </div>
              </div>
              <div class="col-12 pl-0 pr-0">
                <div class="form-group">
                  <label for="input-stateDescription">{{ DATA_LANG?.mdlLblAddStatusDescription?.text }}:&nbsp;&nbsp;<span class="text-danger cursor-pointer" nbTooltip="{{ DATA_LANG_GENERAL?.lblObligatoryFieldTooltip?.text }}">*</span></label>
                    <textarea 
                        #stateDescription="ngModel"
                        [(ngModel)]="state.description"
                        [status]="'info'"
                        class="form-control" 
                        name="stateDescription" 
                        id="input-stateDescription" 
                        nbInput 
                        fullWidth 
                        placeholder="{{ DATA_LANG?.phlInputdAddStatusDesc?.text }}">
                    </textarea>
                </div>
              </div>
              <br>
              <button 
                  nbButton 
                  fullWidth 
                  type="submit"
                  [class.btn-pulse]="submitted"
                  style="background-color: #3366ff; border-color: #3366ff; color: white;">
                  {{ DATA_LANG_GENERAL?.lblButtonSave?.text }}
              </button>
              &nbsp;&nbsp;&nbsp;
              <button 
                  nbButton 
                  fullWidth
                  status="info" 
                  style="background-color: gray; border-color: gray; color: white;"
                  (click)="fnCancelAddData()">
                  {{ DATA_LANG_GENERAL?.lblButtonCancel?.text }}
              </button>
            </form>
          </div>
    </nb-card-body>
</nb-card>