<h1 id="title" class="title">Register</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <div class="row">
    <div class="col-6">
      <div class="form-control-group">
        <label class="label" for="input-firstName">Primer nombre:</label>
        <input nbInput
               [(ngModel)]="user.firstName"
               #firstName="ngModel"
               id="input-firstName"
               name="firstName"
               placeholder="Ingrese primer nombre"
               autofocus
               fullWidth 
               style="height: 50px;" 
               [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.firstName.required')"
               [minlength]="getConfigValue('forms.validation.firstName.minLength')"
               [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
               [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">
        <ng-container *ngIf="firstName.invalid && firstName.touched">
          <p class="error-message" *ngIf="firstName.errors?.required">
            Primer nombre is required!
          </p>
          <p class="error-message" *ngIf="firstName.errors?.minlength || firstName.errors?.maxlength">
            Primer nombre should contains
            from {{getConfigValue('forms.validation.firstName.minLength')}}
            to {{getConfigValue('forms.validation.firstName.maxLength')}}
            characters
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-6">
      <div class="form-control-group">
        <label class="label" for="input-secondFirstName">Segundo nombre:</label>
        <input nbInput
               [(ngModel)]="user.secondFirstName"
               #secondFirstName="ngModel"
               id="input-secondFirstName"
               name="secondFirstName"
               placeholder="Ingrese segundo nombre"
               autofocus
               fullWidth 
               style="height: 50px;" 
               [status]="secondFirstName.dirty ? (secondFirstName.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.secondFirstName.required')"
               [minlength]="getConfigValue('forms.validation.secondFirstName.minLength')"
               [maxlength]="getConfigValue('forms.validation.secondFirstName.maxLength')"
               [attr.aria-invalid]="secondFirstName.invalid && secondFirstName.touched ? true : null">
        <ng-container *ngIf="secondFirstName.invalid && secondFirstName.touched">
          <p class="error-message" *ngIf="secondFirstName.errors?.required">
            Segundo nombre is required!
          </p>
          <p class="error-message" *ngIf="secondFirstName.errors?.minlength || secondFirstName.errors?.maxlength">
            Segundo nombre should contains
            from {{getConfigValue('forms.validation.secondFirstName.minLength')}}
            to {{getConfigValue('forms.validation.secondFirstName.maxLength')}}
            characters
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-6">
      <div class="form-control-group">
        <label class="label" for="input-lastName">Primer apellido:</label>
        <input nbInput
               [(ngModel)]="user.lastName"
               #lastName="ngModel"
               id="input-lastName"
               name="lastName"
               placeholder="Ingrese primer apellido"
               autofocus
               fullWidth 
               style="height: 50px;" 
               [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.lastName.required')"
               [minlength]="getConfigValue('forms.validation.lastName.minLength')"
               [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
               [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
        <ng-container *ngIf="lastName.invalid && lastName.touched">
          <p class="error-message" *ngIf="lastName.errors?.required">
            Primer apellido is required!
          </p>
          <p class="error-message" *ngIf="lastName.errors?.minlength || lastName.errors?.maxlength">
            Primer apellido should contains
            from {{getConfigValue('forms.validation.lastName.minLength')}}
            to {{getConfigValue('forms.validation.lastName.maxLength')}}
            characters
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-6">
      <div class="form-control-group">
        <label class="label" for="input-secondLastName">Segundo apellido:</label>
        <input nbInput
               [(ngModel)]="user.secondLastName"
               #secondLastName="ngModel"
               id="input-secondLastName"
               name="secondLastName"
               placeholder="Ingrese segundo apellido"
               autofocus
               fullWidth 
               style="height: 50px;" 
               [status]="secondLastName.dirty ? (secondLastName.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.secondLastName.required')"
               [minlength]="getConfigValue('forms.validation.secondLastName.minLength')"
               [maxlength]="getConfigValue('forms.validation.secondLastName.maxLength')"
               [attr.aria-invalid]="secondLastName.invalid && secondLastName.touched ? true : null">
        <ng-container *ngIf="secondLastName.invalid && secondLastName.touched">
          <p class="error-message" *ngIf="secondLastName.errors?.required">
            Segundo apellido is required!
          </p>
          <p class="error-message" *ngIf="secondLastName.errors?.minlength || secondLastName.errors?.maxlength">
            Segundo apellido should contains
            from {{getConfigValue('forms.validation.secondLastName.minLength')}}
            to {{getConfigValue('forms.validation.secondLastName.maxLength')}}
            characters
          </p>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="form-control-group" *ngIf="false">
    <label class="label" for="input-name">Full name:</label>
    <input nbInput
           [(ngModel)]="user.fullName"
           #fullName="ngModel"
           id="input-name"
           name="fullName"
           placeholder="Full name"
           autofocus
           fullWidth 
           style="height: 50px;" 
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.fullName.required')"
           [minlength]="getConfigValue('forms.validation.fullName.minLength')"
           [maxlength]="getConfigValue('forms.validation.fullName.maxLength')"
           [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null">
    <ng-container *ngIf="fullName.invalid && fullName.touched">
      <p class="error-message" *ngIf="fullName.errors?.required">
        Full name is required!
      </p>
      <p class="error-message" *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
        Full name should contains
        from {{getConfigValue('forms.validation.fullName.minLength')}}
        to {{getConfigValue('forms.validation.fullName.maxLength')}}
        characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group" *ngIf="false">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           [(ngModel)]="user.email"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+..+"
           placeholder="Email address"
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Email is required!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group" *ngIf="false">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           [(ngModel)]="user.password"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           placeholder="Password"
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        Password is required!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Password should contains
        from {{ getConfigValue('forms.validation.password.minLength') }}
        to {{ getConfigValue('forms.validation.password.maxLength') }}
        characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group" *ngIf="false">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput
           [(ngModel)]="user.confirmPassword"
           #rePass="ngModel"
           type="password"
           id="input-re-password"
           name="rePass"
           placeholder="Confirm Password"
           fullWidth
           [status]="email.dirty ? (email.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.invalid && rePass.touched">
      <p class="error-message" *ngIf="rePass.errors?.required">
        Password confirmation is required!
      </p>
      <p class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
        Password does not match the confirm password.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
    <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
      Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Register
  </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
